# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight SnowGem Electrum Client
Exec=electrum %u
GenericName[en_US]=SnowGem Electrum Wallet
GenericName=SnowGem Electrum Wallet
Icon=electrum
Name[en_US]=SnowGem Electrum Wallet
Name=SnowGem Electrum Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
